@font-face {
    font-family: 'Intro';
    src: url("../fonts/Intro.otf") format("opentype");
}

@font-face {
    font-family: 'WynfordLine';
    src: url("../fonts/WynfordLine-d95w6.otf") format("opentype");
}

@font-face {
    font-family: 'WynfordObliqueLine';
    src: url("../fonts/WynfordObliqueLine-gx2dY.otf") format("opentype");
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Intro';
    background-color: black;
}

/********* LEFT COLUMN *********/

.main-container {
    display: flex;
    flex-direction: row;
}

.side-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15vw;
    align-items: center;
    margin: 0 auto;
}

.GOFD-container {
    width: 100%;
}

.GOFD-header {
    padding-top: 40px;
    color: white;
}

.GOFD-gif, .POFD-gif {
    width: 100%;
}

.GOFD-gif img {
    width: 100%;
}

.POFD-gif img {
    width: 100%;
    border: 1px solid white;
}

.ad-container {
    width: 100%;
    margin-top: 10vh;
}

.ad-container img {
    width: 100%;
}

/********* MAIN COLUMN *********/

.main-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55vw;
    margin: 0 auto;
}

.play-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
}

.play-container-header {
    width: 100%;
    padding-top: 40px;
    font-size: 2em;
    color: white;
    text-align: left;
}

.play-container-header p {
    margin: 0;
    padding-left: 4.3vw;
}

.play-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    height: 12vw;
    gap: 2vw;
    padding-left: 4.3vw;
}

.buttons-row button {
    height: 10vw;
    width: 10vw;
    margin: auto 0;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: white;
    transition: all 0.3s;
}

.buttons-row button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.buttons-row img {
    height: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.games-registry-container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 4.3vw;
}

.game-registry-table {
    width: 91%;
    font-size: 10px;
    color: white;
    border: solid 2px white;
    text-align: center;
}

.game-registry-table .table-header th {
    background-color: white;
    color: black;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    border: solid 2px white;
    height: 50px;
    box-shadow: inset 10px black;
    padding: 10px;
}

.registry-gif {
    height: 100px;
    visibility: hidden;
    position: absolute;
    border: 4px solid white;
    border-radius: 5%;
}


tbody tr:hover {
    background-color: grey;
}

tr, td {
    line-height: 1.7em;
    border: 2px solid white;
    height: 40px;
}