@font-face {
    font-family: 'Intro';
    src: url("../fonts/Intro.otf") format("opentype");
}

@font-face {
    font-family: 'WynfordLine';
    src: url("../fonts/WynfordLine-d95w6.otf") format("opentype");
}

@font-face {
    font-family: 'WynfordObliqueLine';
    src: url("../fonts/WynfordObliqueLine-gx2dY.otf") format("opentype");
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Intro';
    background-color: black;
}

/********* HEADER *********/

.top-bar {
    height: 10vh;
    min-height: 4em;
    width: 100vw;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    font-family: 'Intro';
}

.top-bar a {
    color: white;
}

/********* LEFT SIDE HEADER LOGO  *********/

.top-bar .header-logo a {
    text-decoration: none;
} 

.top-bar .header-logo {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-bar .header-logo .logo-div {
    height: 100%;
}

.top-bar .header-logo .text-div {
    height: 100%;
    font-size: calc(1rem + 1vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.top-bar .header-logo .text {
    margin: auto 0;;
}

.top-bar .header-logo .imagen {
    height: 100%;
}

/********* MIDDLE HEADER BUTTONS *********/

.top-bar .header-buttons {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.top-bar .header-buttons .button {
    margin: 0 4%;
}

/********* RIGHT SIDE HEADER NOTIFICATION AND PROFILE BUTTONS *********/

.top-bar .header-notifications-profile {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.top-bar .header-notifications-profile div {
    margin: 0 10%;
}

.top-bar .header-notifications-profile .notifications-button, .top-bar .header-notifications-profile .profile-button {
    height: 30%;
    background-color: #FFFFFF;
    border-radius:100%;
    padding: 10px;
}

/********* LEFT COLUMN *********/

.main-container {
    display: flex;
    flex-direction: row;
}

.left-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15vw;
    align-items: center;
    margin: 0 auto;
}

.GOFD-container {
    width: 100%;
}

.GOFD-header {
    padding-top: 40px;
    color: white;
}

.GOFD-gif {
    width: 100%;
}

.GOFD-gif img {
    width: 100%;
}

/********* MAIN COLUMN *********/

.main-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 55vw;
    margin: 0 auto;
}

.play-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0;
}

.play-container-header {
    width: 100%;
    padding-top: 40px;
    font-size: 2em;
    color: white;
    text-align: left;
}

.play-container-header p {
    margin: 0;
    padding-left: 4.3vw;
}

.play-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    height: 12vw;
    gap: 2vw;
    padding-left: 4.3vw;
}

.buttons-row button {
    height: 10vw;
    width: 10vw;
    margin: auto 0;
}

.buttons-row img {
    height: 100%;
}