@font-face {
    font-family: 'Intro';
    src: url("../fonts/Intro.otf") format("opentype");
}

@font-face {
    font-family: 'WynfordLine';
    src: url("../fonts/WynfordLine-d95w6.otf") format("opentype");
}

@font-face {
    font-family: 'WynfordObliqueLine';
    src: url("../fonts/WynfordObliqueLine-gx2dY.otf") format("opentype");
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Intro';
    background-color: black;
}

/********* HEADER *********/

.top-bar {
    height: 10vh;
    min-height: 4em;
    width: 100vw;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    font-family: 'Intro';
}

.top-bar a {
    color: white;
}

/********* LEFT SIDE HEADER LOGO  *********/

.top-bar .header-logo a {
    text-decoration: none;
} 

.top-bar .header-logo {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top-bar .header-logo .logo-div {
    height: 100%;
}

.top-bar .header-logo .text-div {
    height: 100%;
    font-size: calc(1rem + 1vw);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.top-bar .header-logo .text {
    margin: auto 0;
}

.top-bar .header-logo .imagen {
    height: 100%;
}

/********* MIDDLE HEADER BUTTONS *********/

.top-bar .header-buttons {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.top-bar .header-buttons .button {
    margin: 0 4%;
}

/********* RIGHT SIDE HEADER NOTIFICATION AND PROFILE BUTTONS *********/

.top-bar .header-notifications-profile {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.top-bar .header-notifications-profile div {
    margin: 0 10%;
}

.top-bar .header-notifications-profile .notifications-button, .top-bar .header-notifications-profile .profile-button {
    height: 30%;
    background-color: #FFFFFF;
    border-radius:100%;
    padding: 10px;
}

/************************************ MAIN CONTAINER ************************************/

/********* GAME CONTAINER *********/

.container {
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 85vh;
    min-height: 700px;
    width: 100vw;
    background-color: black;
    justify-content: center;
    align-items: center;
}

/* Game Room Styles */

.board-and-users{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chess-board{
    width: 602px;
    height: 602px;
    display: grid;
    grid-template-rows: repeat(8, calc(600px / 8));
    grid-template-columns: repeat(8, calc(600px / 8));
    margin: 35px 0;
    border: 2px double white;
}

.chess-board .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
}


.chess-board .box:nth-child(-2n+8),
.chess-board .box:nth-child(8) ~ .box:nth-child(-2n+15), 
.chess-board .box:nth-child(16) ~ .box:nth-child(-2n+24),
.chess-board .box:nth-child(24) ~ .box:nth-child(-2n+31),
.chess-board .box:nth-child(32) ~ .box:nth-child(-2n+40),
.chess-board .box:nth-child(40) ~ .box:nth-child(-2n+47),
.chess-board .box:nth-child(48) ~ .box:nth-child(-2n+56),
.chess-board .box:nth-child(56) ~ .box:nth-child(-2n+63){
    background: var(--main-color-darker);
}

.box .piece{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .piece img{
    width: 80%;
    height: 80%;
}

.display-position-left::before{
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.display-position-left:nth-child(1)::before{
    content: "8";
}

.display-position-left:nth-child(9)::before{
    content: "7";
}

.display-position-left:nth-child(17)::before{
    content: "6";
}

.display-position-left:nth-child(25)::before{
    content: "5";
}

.display-position-left:nth-child(33)::before{
    content: "4";
}

.display-position-left:nth-child(41)::before{
    content: "3";
}

.display-position-left:nth-child(49)::before{
    content: "2";
}

.display-position-left:nth-child(57)::before{
    content: "1";
}

.display-position-bottom::after{
    content: 'a';
    position: absolute;
    left: 50%;
    bottom: -35%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.display-position-bottom:nth-child(57)::after{
    content: "A";
}

.display-position-bottom:nth-child(58)::after{
    content: "B";
}

.display-position-bottom:nth-child(59)::after{
    content: "C";
}

.display-position-bottom:nth-child(60)::after{
    content: "D";
}

.display-position-bottom:nth-child(61)::after{
    content: "E";
}

.display-position-bottom:nth-child(62)::after{
    content: "F";
}

.display-position-bottom:nth-child(63)::after{
    content: "G";
}

.display-position-bottom:nth-child(64)::after{
    content: "H";
}

.light {
    filter: sepia();
}

.black {
    filter: invert(40%) hue-rotate(170deg);
}